.addKurs {
    position: relative;
    .newCourse__inputCon {
        display: grid;
        gap: 20px;
        margin: 2% auto;
        align-items: center;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        div {
            margin-inline: auto;
            &:last-of-type {
                grid-column: 2/3;
                .btn {
                    border: none;
                }
            }
        }
    }
}
