.sideNav {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: var(--clr-dark);
    border-left: 1px solid var(--clr-light);
    transition: all 1s;
    div {
        transform: translate(-50%, -50%);
        cursor: pointer;
        border-radius: 50%;
        position: fixed;
        border: 2px solid #fff;
        top: 50%;
        width: 50px;
        transition: all 1s;
        aspect-ratio: 1/1;
        img {
            border-radius: 50%;
            background-color: var(--clr-accent-blue);
            width: 80px;
            transition: all 1s;
        }
    }
    &__logoWrap {
        height: 100vh;
        display: grid;
        width: 50px;
        grid-template-rows: 1fr 0fr 1fr;
        background-color: var(--clr-accent-blue);
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // Content here
        .link {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            margin: 20px;
            width: fit-content;
            font-size: var(--fs-regular);
            transition: all 0.5s;
            border-radius: 5px;
            color: var(--clr-light);
            &--active {
                box-shadow: 0px 0px 10px var(--clr-dark-700);
            }
            &:hover {
                box-shadow: 0px 0px 10px var(--clr-dark-700);
            }
        }
    }
}
