/*
Fonts:
*/
@font-face {
    font-family: "NeueMachina-Light";
    src: url("../fonts/NeueMachina-Light.otf") format("otf");
}
@font-face {
    font-family: "NeueMachina-Regular";
    src: url("../fonts/NeueMachina-Regular.otf") format("otf");
}
@font-face {
    font-family: "NeueMachina-Ultrabold";
    src: url("../fonts/NeueMachina-Ultrabold.otf") format("otf");
}
:root {
    // Colors
    --clr-light: hsl(0, 0%, 100%);
    --clr-dark-0: hsl(207, 38%, 0%);
    --clr-dark: hsl(207, 38%, 11%);
    --clr-dark-800: hsl(207, 38%, 20%);
    --clr-dark-700: hsl(207, 38%, 30%);
    --clr-dark-600: hsl(207, 38%, 40%);
    --clr-dark-500: hsl(207, 38%, 50%);
    --clr-dark-400: hsl(207, 38%, 60%);
    --clr-dark-300: hsl(207, 38%, 70%);
    --clr-dark-200: hsl(207, 38%, 80%);
    --clr-dark-100: hsl(0, 0%, 90%);
    --clr-accent-green-100: hsl(163, 100%, 90%);
    --clr-accent-green-200: hsl(163, 100%, 80%);
    --clr-accent-green-300: hsl(163, 100%, 70%);
    --clr-accent-green-400: hsl(163, 100%, 60%);
    --clr-accent-green-500: hsl(163, 100%, 50%);
    --clr-accent-green: hsl(163, 100%, 46%);
    --clr-accent-green-600: hsl(163, 100%, 40%);
    --clr-accent-green-700: hsl(163, 100%, 30%);
    --clr-accent-green-800: hsl(163, 100%, 20%);
    --clr-accent-green-900: hsl(163, 100%, 10%);
    --clr-accent-blue-100: hsl(252, 71%, 90%);
    --clr-accent-blue-200: hsl(252, 71%, 80%);
    --clr-accent-blue-300: hsl(252, 71%, 70%);
    --clr-accent-blue-400: hsl(252, 71%, 60%);
    --clr-accent-blue: hsl(252, 71%, 56%);
    --clr-accent-blue-500: hsl(252, 71%, 50%);
    --clr-accent-blue-600: hsl(252, 71%, 40%);
    --clr-accent-blue-700: hsl(252, 71%, 30%);
    --clr-accent-blue-800: hsl(252, 71%, 20%);
    --clr-accent-blue-900: hsl(252, 71%, 10%);
    // Fonts
    --ff-reg-light: "NeueMachina-Light";
    --ff-reg-regular: "NeueMachina-Regular";
    --ff-reg-bold: "NeueMachina-Ultrabold";
    --ff-accent: ;
    // Sizes
    --fs-light: 0.8rem;
    --fs-regular: 1rem;
    --fs-medium: 1.5rem;
}

html {
    font-size: 100%;
    font-family: var(--ff-reg-regular);
}
body {
    width: min(100% - 5%, 1440px);
    margin-inline: auto;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    overflow-x: hidden;
    position: relative;
    padding: 1%;
    border-left: 2px solid var(--clr-light);
    border-right: 1px solid var(--clr-light);
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
input,
select {
    border: none;
    border-radius: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
    font-family: var(--ff-reg-bold);
}
p {
    font-family: var(--ff-reg-regular);
    font-size: var(--fs-regular);
}
.active {
    a {
        color: var(--clr-accent-blue);
    }
}
h1,
h2,
h3,
h4 {
    font-family: var(--ff-reg-bold);
    color: var(--clr-accent-green);
}
h1 {
    font-size: var(--fs-medium);
}
h2 {
    font-size: var(--fs-regular);
}
